.pricing{
  border: 4px solid #fff;
  border-radius: 10px;
  width:100%;
  background-color: #fff;
  margin: 0 0 30px 0;
}

.pricing-text{
  width:90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pricing-text h1{
  font-size: 1.5rem;
  color: #2B2C2D;
}

.pricing-text p{
  color: #979EA7;
}

.charge{
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.price-type{
  border: 2px solid blue;
  border-radius: 5px;
  width: 45%;
  display: flex;
  height: 60px;
}

.price-type p{
  margin: 0;
  font-size: 1rem;
  padding: 0;
}

.rate-slider-cont{
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  flex-direction: column;
}
.slider{
  display: flex;
  justify-content: space-between;
}

.slider p{
  margin: 0 0 10px 0;
  padding: 2px 0 5px 0;
}

.rate-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #3c68ff;
  outline: none;
  border-radius: 10px;
}

.rate-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 3px solid black;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.rate-slider::-moz-range-thumb {
  width: 400px;
  height: 10px;
  background: #3c68ff;
  cursor: pointer;
}
