.pricing{
  border: 4px solid #fff;
  border-radius: 10px;
  width:100%;
  background-color: #fff;
  margin: 30px 0 0 0;
}

.pricing-text{
  width:90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pricing-text h1{
  font-size: 1.5rem;
  color: #2B2C2D;
}

.pricing-text p{
  color: #979EA7;
}
/* work on the charge tabs */
.charge{
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.hourly span, .fixed span{
  margin: auto 15px;
}

.hourly, .fixed{
  border: 2px solid #E4E8ED;
  border-radius: 5px;
  width: 45%;
  display: flex;
  height: 60px;
}

.hourly p, .fixed p{
  font-size: 1.3rem;
  color: #2B2C2D;
  margin: auto 0;
}

.active{
  border: 2px solid #7594FF;
  background-color: #f2f5ff;
}
.active-rate{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px
}

.inactive{
  display: none;
}

.charge-type p{
  margin: 0;
  font-size: 1rem;
  padding: 0;
}

.rate-text{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.rate-text h1{
  font-size: 2.5rem;
  margin: 0;
  color: black;
}

.rate-text h2{
  font-size: 1.2rem;
  color: #979EA7;
  padding: 0;
  margin: 0;
  margin-top: auto;
}

#dollar{
  
}

/* work on slider */

.rate-slider{
  background-color: none;
}
.rates-slider-input{
  margin-bottom: 30px;
}

.rate-slider .MuiSlider-rail{
  opacity: 1;
  height: 5px;
  border-radius: 10px;
  background-color: #E2E6EB;
}
.rate-slider .MuiSlider-track{
  opacity: 1;
  height: 5px;
  border-radius: 10px;
  background-color: #2557FF;
}

.rate-slider .MuiSlider-thumb{
  width: 30px;
  height: 30px;
  background-color: white;
  color: #2557FF;
  margin-top: -15px;
  background-image: url("../icons/button.png");
}

.slider-values{
  display: flex;
  justify-content: space-between;
}

.slider-values p{
  margin: 0;
}

#fixed-rate-input {
  font-size: 2rem;
  width: 30%;
  outline: none;
  border: none;
  color: #2B2C2D;
}

#fixed-rate-input::placeholder{
  color: lightgray;
}

#fixed-rate-input:focus {
  border: none;
  outline: none;
  color: black;
}

#fixed-rate-input::-webkit-outer-spin-button,
#fixed-rate-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.fixed-rate{
  display: flex;
  justify-content: flex-start;
}

.fixed-rate h1{
  font-size: 1.3rem;
  color: #979EA7;
}

.fixed-rate-cont h1 {
  font-size: 1rem;
}

.inactive{
  display: none;
}