.user-profile{
  border: 4px solid #fff;
  border-radius: 10px;
  width:100%;
  background-color: #fff;
  margin-bottom: auto;

}
.profile-pic{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  position: relative;
  bottom: -50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile-header{
  width: 100%;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
}

.user-info{
  text-align: center;
  margin-top: 50px;
}

.user-info h1, .user-info p{
  margin: 0;
}

.user-info h1{
  font-size: 1.35rem;
  font-weight: 600;
}

.user-info p{
  color: #58595C;
}

.user-level{
  margin-top: 15px;
  border: 1px solid #3c68ff;
  border-radius: 15px;
  background-color: #3c68ff;
  width: 90px;
  height: 30px;
  color: white;
}
.user-stats{
  display: flex;
  justify-content: space-around;
  margin: 30px 0 20px 0;
}
.user-stats article{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10px;
  color: #58595C;
}
.user-stats article p{
  font-size: 1rem;
  margin: 0;
}

.user-stats article h3{
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0;
}