.user-profile{
  border: 3px solid pink;
  border-radius: 10px;
  width:100%;
}
.profile-pic{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.profile-header{
  width: 100%;
  object-fit: contain;
}